
/* Body color */
body {
    background-color: #f8fafc;
    color: #111827;
    font-family: Arial, sans-serif;
}
/* nav bar background */
.custom-navbar {
    background: linear-gradient(90deg, #4f46e5, #7c3aed);
}
/* desc section */
.hero-section {
    background: linear-gradient(135deg, #4f46e5, #7c3aed, #06b6d4);
    padding-top: 5rem;
    padding-bottom: 5rem;
}
/* form control */
.form-control:focus {
    border-color: purple;
    box-shadow: 0 0 0 0.2rem rgba(124, 58, 237, 0.2);
}

#search-form{
    display: flex;
    align-items: baseline;
}

#search-form select {
    width: fit-content;
    margin-right: .5rem;
    text-align: center;
}

/* btn stuff */
.btn-primary {
    background-color: #4f46e5;
    border-color: #4f46e5;
}

.btn-primary:hover {
    background-color: #4338ca;
    border-color: #4338ca;
}

.btn-outline-primary {
    color: #4f46e5;
    border-color: #4f46e5;
}

.btn-outline-primary:hover {
    background-color: #4f46e5;
    border-color: #4f46e5;
}

/* future correct vs incorrect */
.correct-feedback {
    color: #15803d;
}

.incorrect-feedback {
    color: #b91c1c;
}

/* Selectors for quiz cards */
.quiz-card > #title{ 
    background: linear-gradient(135deg, #4f46e5, #7c3aed, #06b6d4);
    color: white; 
    padding: 1rem
}

.quiz-card > #description{
    padding: 1rem;
}

.quiz-card > #difficulty{
    padding: 1rem;
}

.quiz-card > #catagory{
    padding: 1rem;
}

.quiz-card > #number-questions{
    padding: 1rem;
}

.quiz-card > button{
    background: linear-gradient(135deg, #4f46e5, #7c3aed, #06b6d4);
    color: white; 
    margin: 1rem;
    padding: .5rem;
    border: none;
    transition: .1s;
    
}

.quiz-card > button:hover{
    background: linear-gradient(75deg, #4f46e5, #7c3aed, #06b6d4);
    scale: 1.1;
}

/* past scores */
table{
   width: 100%;
}

#past-scores-table > tbody > tr > td{
    border: 1px solid #00000077;
    background-color: white;
}

#past-scores-table > tbody > tr:nth-child(2n) > td{
    background-color: #f1f1f1;
}

#past-scores-table-header{
    background: linear-gradient(75deg, #4f46e5, #7c3aed, #06b6d4);
    color: white;
    padding: 1rem;
    text-align: left;
}

#past-scores-table-header th {
    padding: 1rem;
    width: 25%;
}

#past-scores-table-body td {
    padding: .5rem;
    width: 25%;
}


#past-scores-scroll-container{
    max-height: 20vh;
    height: fit-content;
    overflow: auto;
}

#past-scores-table > tbody > tr > td#no-scores-message{
    border: none;
    color: gray;
    text-align: center;
    font-style: italic;
}

#history-clear-button{
    background: linear-gradient(135deg, #4f46e5, #7c3aed, #06b6d4);
    color: white; 
    margin: 1rem;
    padding: .5rem;
    border: none;
    transition: .1s;
    
}

#history-clear-button:hover{
    background: linear-gradient(75deg, #4f46e5, #7c3aed, #06b6d4);
    scale: 1.1;
}


/* for footer */
footer {
    color: #4338ca;
    font-weight: 500;
}
